@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy:400,700");
body {
  background: #BBB;
  text-align: center;
  padding: 4em;
  font-size: 1.2em;
}

.card {
  cursor: pointer;
  font-size: 3em;
}

.game-cards.uno {
  font-family: "Luckiest Guy", sans-serif;
}
.game-cards.uno .card .face {
  color: #FFF;
  background: #000;
  line-height: 1;
  position: relative;
}
.game-cards.uno .card .face:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.07em solid;
  border-radius: 0.11em;
  content: "";
}
.game-cards.uno .card .face .value {
  background: #FFF;
  position: absolute;
  border-radius: 100%;
  width: 1.24em;
  height: 1.24em;
  color: #000;
  font-size: 0.7em;
  top: 50%;
  left: 50%;
  margin-top: -0.62em;
  margin-left: -0.62em;
  text-align: center;
  transform: skewX(-15deg);
}
.game-cards.uno .card .face .value span {
  display: inline-block;
  transform: skewX(15deg);
  line-height: 1.5;
}
.game-cards.uno .card .face .value-up {
  font-size: 0.2em;
  top: 1.2em;
  left: 1.2em;
}
.game-cards.uno .card .face .value-down {
  font-size: 0.2em;
  top: auto;
  left: auto;
  bottom: 0.6em;
  right: 0.6em;
}
.game-cards.uno .card .back {
  color: #FFF;
  background: #000;
  background: repeating-conic-gradient(#000 0 11deg, #222 0 21deg);
  line-height: 1;
}
.game-cards.uno .card .back:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.07em solid;
  border-radius: 0.11em;
  content: "";
}
.game-cards.uno .card .back > span {
  background: #FFF;
  display: inline-block;
  border-radius: 100%;
  width: 1.24em;
  height: 1.24em;
  color: #000;
  line-height: 1.4;
  font-size: 0.6em;
  position: relative;
  top: 15%;
  transform: skewX(-15deg);
}
.game-cards.uno .card .back > span > span {
  display: inline-block;
  transform: translateY(-25%) skewX(15deg);
  font-size: 0.5em;
}
.game-cards.uno .card.red .face {
  background: #ff0039;
}
.game-cards.uno .card.red .face .value {
  color: #ff0039;
}
.game-cards.uno .card.green .face {
  background: #089600;
}
.game-cards.uno .card.green .face .value {
  color: #089600;
}
.game-cards.uno .card.blue .face {
  background: #0041ff;
}
.game-cards.uno .card.blue .face .value {
  color: #0041ff;
}
.game-cards.uno .card.yellow .face {
  background: #ffb600;
}
.game-cards.uno .card.yellow .face .value {
  color: #ffb600;
}